* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

h2, 
h3 {
    color: maroon;
}

footer {
    padding: 20px;
    color: white;
    background-color: maroon;
    text-align: center;
    font-weight: bold;
}

nav a {
    font-size: 18px;

    font-weight: 400;
    text-decoration: none;

    color: black;
}

.main-container {
  width: 1200px;
  margin: 0 32px;
}

nav a:hover {
    font-weight: bold;
}

.profile header {
    text-align: center;
}

.featured-image {
    width: 100%;
    max-height: 350px;

    object-fit: cover;
    object-position: center;
  }

  .profile {
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
    width: 300px;
    height: 500px;
    text-align: center;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
    border-radius: 5px;
    padding: 20px;
  }

  .my-background {
    font-size: 20px;
    padding: 60px;
    background-color: maroon;
    text-align: center;
    color: white;
  }

  nav ul {
    padding-inline: 1rem;
    display: flex;
    top: 0;
    /* margin-bottom: 10px; */
    gap: 2rem;
  }

  nav li {
    list-style-type: none;
  }

nav {
    /* background-color: rgb(246, 168, 194); */
    padding: 1px;

    position: sticky;
    top: 0;
  }

main {
    padding: 20px;

    display: flex;
    gap: 1.5rem;
  }

#content {
    flex: 5;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
  }

aside {
    flex: 1;
  }

header {
    display: inline;
  }

@media screen and (max-width: 1200px) {
    main { 
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }
  }

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

    main aside {
        align-self: stretch;
    }
}

/* navbar section */

.btn {
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid gainsboro;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.btn:houver {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

header{
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header5{
  height: 100px;
  background-color: white;
  /* border: 2px solid pink; */
  border-radius: 8px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 1s ease;
  cursor: pointer;
  color: rgb(201, 9, 41);
}

.wrapper{
  max-width: 100%;
  /* display: flex; */
}

.togglebtn{
  width: 35px;
  height: 35px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 5;
  cursor: pointer;
  display: none;
}

.togglebtn span{
  display: block;
  background-color: maroon;
  margin: 5px 0px;
  width: 100%;
  height: 3px;
  transition: 0.3s;
  transition-property: transform, opacity;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 80px;
}

.logo a{
  color: maroon;
}

.mt-3{
  margin-top: 10px;
}

.nav-links li{
  display: flex;
  align-items: center;
}

.nav-links a:hover{
  background-color:maroon;
  color: white;
  border: rgb(108, 17, 32);
  transition: 0.4s;
}
.nav-links li a{
  top: 0;
  padding: 15px 25px; 
  /* margin: 5px 25px; */
  /* margin-bottom: 50px; */
  border: 2px solid maroon;
  border-radius: 30px;
  box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
  color: rgb(182, 25, 25);
  
}

.sec-container{
      width: 1000px;
      margin: 0 auto ;
}